@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(to top, #09203f 0%, #1f3d54 100%) !important;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: rgb(194, 193, 193) !important;
}
input{
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: rgb(239, 238, 238) !important;
    border: none !important;
}
